@font-face {
  font-family: 'Futura';
  src: url("../fonts/futura/futlign-webfont.eot");
  src: url("../fonts/futura/futlign-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/futura/futlign-webfont.woff") format("woff"), url("../fonts/futura/futlign-webfont.ttf") format("truetype"), url("../fonts/futura/futlign-webfont.svg#Futura") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaCond';
  src: url("../fonts/futura/futconn-webfont.eot");
  src: url("../fonts/futura/futconn-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/futura/futconn-webfont.woff") format("woff"), url("../fonts/futura/futconn-webfont.ttf") format("truetype"), url("../fonts/futura/futconn-webfont.svg#FuturaCond") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaCond';
  src: url("../fonts/futura/futconb-webfont.eot");
  src: url("../fonts/futura/futconb-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/futura/futconb-webfont.woff") format("woff"), url("../fonts/futura/futconb-webfont.ttf") format("truetype"), url("../fonts/futura/futconb-webfont.svg#FuturaCond") format("svg");
  font-weight: bold;
  font-style: normal;
}

/* line 1, sass/_base.scss */
body, html {
  font-family: 'Futura' !important;
}

/* line 6, sass/_base.scss */
#main .post h2, #main .reading-box h2, #main h2, .ei-title h2, .fusion-modal h2, .fusion-title h2, .fusion-widget-area h2, .main-flex .slide-content h2, .post-content h2, .title h2,
.fusion-author .fusion-author-title, .fusion-header-tagline, .fusion-modal .modal-title, .fusion-modal h3, .fusion-pricing-table .pricing-row, .fusion-pricing-table .title-row, .fusion-title h3, .fusion-widget-area h3, .main-flex .slide-content h3, .post-content h3, .project-content h3, .sidebar .widget h3 {
  font-family: 'Futura';
}

/* line 10, sass/_base.scss */
.post-content h2 {
  font-size: 2.2em !important;
}

/* line 14, sass/_base.scss */
.fusion-main-menu > ul > li > a, .side-nav li a {
  font-family: 'FuturaCond';
  font-weight: bold;
  text-transform: uppercase;
}

/* line 20, sass/_base.scss */
.fusion-header {
  padding-top: 10px;
  padding-bottom: 10px;
}

/* line 24, sass/_base.scss */
.fusion-header > .fusion-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: space-between;
}
/* line 32, sass/_base.scss */
.fusion-header > .fusion-row > .logo {
  flex-basis: 200px;
}
/* line 35, sass/_base.scss */
.fusion-header > .fusion-row > .logo img {
  max-height: 110px;
}
/* line 39, sass/_base.scss */
.fusion-header > .fusion-row > .nav {
  fleX: 1;
  padding-left: 40px;
}
/* line 44, sass/_base.scss */
.fusion-header > .fusion-row > .nav .searcher .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
/* line 51, sass/_base.scss */
.fusion-header > .fusion-row > .nav .searcher .wrapper > .button {
  flex-basis: 30px;
}
/* line 54, sass/_base.scss */
.fusion-header > .fusion-row > .nav .searcher .wrapper > .button button {
  height: 30px;
  width: 30px;
  background: none;
  border: none;
  cursor: pointer;
}
/* line 62, sass/_base.scss */
.fusion-header > .fusion-row > .nav .searcher .wrapper > .inp {
  flex: 1;
}
/* line 65, sass/_base.scss */
.fusion-header > .fusion-row > .nav .searcher .wrapper > .inp input {
  padding: 10px 0;
  font-size: 1.2em;
  color: #007a33;
  border: none;
  font-family: 'FuturaCond';
  font-weight: bold;
}
/* line 73, sass/_base.scss */
.fusion-header > .fusion-row > .nav .searcher .wrapper > .inp input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-family: 'Futura';
  font-weight: normal;
  text-transform: uppercase;
}
/* line 79, sass/_base.scss */
.fusion-header > .fusion-row > .nav .searcher .wrapper > .inp input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  font-family: 'Futura';
  font-weight: normal;
  text-transform: uppercase;
}
/* line 85, sass/_base.scss */
.fusion-header > .fusion-row > .nav .searcher .wrapper > .inp input::-ms-input-placeholder {
  /* Microsoft Edge */
  font-family: 'Futura';
  font-weight: normal;
  text-transform: uppercase;
}
/* line 91, sass/_base.scss */
.fusion-header > .fusion-row > .nav .searcher .wrapper > .inp input:focus {
  outline: none;
  border-bottom: 0.5px solid #007a33;
}

/* line 102, sass/_base.scss */
.navmenu {
  padding: 15px 0 0 0;
  margin: 0 0 10px 0;
  border-bottom: 0.5px solid #cdcdcd;
}
/* line 107, sass/_base.scss */
.navmenu .menu-fomenu-container {
  height: 100%;
}
/* line 110, sass/_base.scss */
.navmenu a, .navmenu a:visited, .navmenu a:hover {
  color: black;
  font-weight: 300;
}
/* line 114, sass/_base.scss */
.navmenu ul, .navmenu li {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* line 120, sass/_base.scss */
.navmenu ul.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  margin: 0 -10px;
}
/* line 130, sass/_base.scss */
.navmenu ul.menu > li {
  height: 100%;
  position: relative;
  -webkit-transition: all .4s;
  transition: all .4s;
}
/* line 138, sass/_base.scss */
.navmenu ul.menu > li > a {
  display: block;
  padding: 0 10px;
  height: 100%;
  line-height: 45px;
  height: 45px;
  text-transform: uppercase;
  font-size: 1.35em;
  font-family: 'FuturaCond';
  font-weight: bold !important;
}
/* line 149, sass/_base.scss */
.navmenu ul.menu > li > a .ico {
  text-align: center;
  margin: 12px 0 5px 0;
}
/* line 152, sass/_base.scss */
.navmenu ul.menu > li > a .ico i {
  font-size: 15px;
}
/* line 159, sass/_base.scss */
.navmenu ul.menu > li.current_page_item > a {
  color: #007a33;
}
/* line 164, sass/_base.scss */
.navmenu ul.menu > li > .sub-menu {
  position: absolute;
  left: 0;
  min-width: 200px;
  max-width: 320px;
  background: #ececec;
}
/* line 172, sass/_base.scss */
.navmenu ul.menu > li > .sub-menu > li > a {
  padding: 8px 12px;
  display: block;
  font-size: 1.1em;
  width: 100%;
  -webkit-transition: all .4s;
  transition: all .4s;
}
/* line 180, sass/_base.scss */
.navmenu ul.menu > li > .sub-menu > li > a:hover {
  color: black;
}
/* line 188, sass/_base.scss */
.navmenu ul.menu > li:hover > .sub-menu {
  display: block;
}
/* line 195, sass/_base.scss */
.navmenu ul.sub-menu {
  display: none;
}

/* line 200, sass/_base.scss */
.avada-skin-rev {
  border: none;
}

/* line 206, sass/_base.scss */
.fusion-widget-area h3,
.fusion-widget-area h4,
.fusion-footer-widget-area .widget-title, .fusion-footer-widget-area h3, .fusion-footer-widget-column .product-title {
  font-family: 'Futura';
  font-size: 1.3em;
  font-weight: bold;
  margin: 0 0 30px 0;
}

/* line 212, sass/_base.scss */
.fusion-footer-widget-area .widget_nav_menu li a:before, .fusion-footer-widget-area .widget_categories li a:before, .fusion-footer-widget-area .widget_meta li a:before, .fusion-footer-widget-area .widget .recentcomments:before, .fusion-footer-widget-area .widget_recent_entries li a:before, .fusion-footer-widget-area .widget_archive li a:before, .fusion-footer-widget-area .widget_pages li a:before, .fusion-footer-widget-area .widget_links li a:before {
  content: "";
  display: none;
}

/* line 216, sass/_base.scss */
.fusion-widget-area .widget_nav_menu li {
  padding: 4px 0;
  border: none;
}
/* line 219, sass/_base.scss */
.fusion-widget-area .widget_nav_menu li a {
  text-transform: uppercase;
  color: #ababab;
}

/* line 224, sass/_base.scss */
.fusion-footer-widget-area {
  padding-top: 0;
  padding-bottom: 0;
}

/* line 228, sass/_base.scss */
.fusion-footer-copyright-area {
  padding: 10px 0;
}

/* line 231, sass/_base.scss */
.fusion-footer .fusion-columns .fusion-column {
  border-right: 2px solid #eaeaea;
  height: 260px;
  padding: 25px;
}

/* line 236, sass/_base.scss */
.fusion-footer .fusion-columns .fusion-column.fusion-column-last {
  border-right: none;
}

/* line 239, sass/_base.scss */
.fusion-copyright-notice {
  color: #343434;
}

/* line 243, sass/_base.scss */
.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}

/* line 251, sass/_base.scss */
.footer-contacts .wrapper {
  width: 1100px;
  margin: 0 auto;
  padding: 50px 0;
}
/* line 256, sass/_base.scss */
.footer-contacts .subs-nav {
  background: #007a33;
  color: white;
}
/* line 259, sass/_base.scss */
.footer-contacts .subs-nav > .wrapper > .grid {
  align-items: center;
}
/* line 262, sass/_base.scss */
.footer-contacts .subs-nav > .wrapper > .grid .social {
  padding-right: 20px;
  border-right: 1px solid white;
  flex-basis: 180px;
}
/* line 267, sass/_base.scss */
.footer-contacts .subs-nav > .wrapper > .grid .social .fusion-social-networks .fusion-social-network-icon {
  margin: 5px 15px 5px 15px;
  font-size: 22px;
}
/* line 272, sass/_base.scss */
.footer-contacts .subs-nav > .wrapper > .grid .subs {
  flex: 1;
  padding-left: 20px;
}
/* line 275, sass/_base.scss */
.footer-contacts .subs-nav > .wrapper > .grid .subs > .grid {
  align-items: center;
  justify-content: flex-end;
}
/* line 279, sass/_base.scss */
.footer-contacts .subs-nav > .wrapper > .grid .subs > .grid > div {
  padding: 0 15px;
}
/* line 283, sass/_base.scss */
.footer-contacts .subs-nav > .wrapper > .grid .subs > .grid .text {
  font-size: 2em;
}
/* line 287, sass/_base.scss */
.footer-contacts .subs-nav > .wrapper > .grid .subs > .grid .inp {
  flex-basis: 40%;
}
/* line 289, sass/_base.scss */
.footer-contacts .subs-nav > .wrapper > .grid .subs > .grid .inp input {
  height: 35px;
  line-height: 35px;
  padding: 0 12px;
  width: 100%;
  color: #007a33;
  font-weight: bold;
  font-size: 1.1em;
}
/* line 301, sass/_base.scss */
.footer-contacts .subs-nav > .wrapper > .grid .subs > .grid .button button {
  border: 2px solid white;
  background: none;
  padding: 0 12px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  line-height: 35px;
  height: 35px;
}
/* line 312, sass/_base.scss */
.footer-contacts .subs-nav > .wrapper > .grid .subs > .grid .button button:hover {
  background: white;
  color: black;
}
/* line 322, sass/_base.scss */
.footer-contacts .cont {
  background: #f4f4f4;
  color: #343434;
  font-size: 1.2em;
}
/* line 326, sass/_base.scss */
.footer-contacts .cont > .wrapper > .grid {
  justify-content: space-between;
  align-items: center;
}
/* line 330, sass/_base.scss */
.footer-contacts .cont .phone, .footer-contacts .cont .email {
  line-height: 1;
}
/* line 333, sass/_base.scss */
.footer-contacts .cont .phone > .grid > div, .footer-contacts .cont .email > .grid > div {
  padding: 10px;
}
/* line 337, sass/_base.scss */
.footer-contacts .cont .phone > .grid .text, .footer-contacts .cont .email > .grid .text {
  text-transform: uppercase;
  font-size: 0.9em;
  line-height: 1;
  text-align: center;
}
/* line 345, sass/_base.scss */
.footer-contacts .cont .phone > .grid .ico i, .footer-contacts .cont .email > .grid .ico i {
  font-size: 24px;
  color: #007a33;
  margin: 0;
  padding: 0;
}
/* line 353, sass/_base.scss */
.footer-contacts .cont .phone > .grid .val, .footer-contacts .cont .email > .grid .val {
  font-size: 1.3em;
}
