@font-face {
  font-family: 'Futura';
  src: url("../fonts/futura/futlign-webfont.eot");
  src: url("../fonts/futura/futlign-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/futura/futlign-webfont.woff") format("woff"), url("../fonts/futura/futlign-webfont.ttf") format("truetype"), url("../fonts/futura/futlign-webfont.svg#Futura") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaCond';
  src: url("../fonts/futura/futconn-webfont.eot");
  src: url("../fonts/futura/futconn-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/futura/futconn-webfont.woff") format("woff"), url("../fonts/futura/futconn-webfont.ttf") format("truetype"), url("../fonts/futura/futconn-webfont.svg#FuturaCond") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaCond';
  src: url("../fonts/futura/futconb-webfont.eot");
  src: url("../fonts/futura/futconb-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/futura/futconb-webfont.woff") format("woff"), url("../fonts/futura/futconb-webfont.ttf") format("truetype"), url("../fonts/futura/futconb-webfont.svg#FuturaCond") format("svg");
  font-weight: bold;
  font-style: normal;
}

/* line 1, sass/_base.scss */
body, html {
  font-family: 'Futura' !important;
}

/* line 6, sass/_base.scss */
#main .post h2, #main .reading-box h2, #main h2, .ei-title h2, .fusion-modal h2, .fusion-title h2, .fusion-widget-area h2, .main-flex .slide-content h2, .post-content h2, .title h2,
.fusion-author .fusion-author-title, .fusion-header-tagline, .fusion-modal .modal-title, .fusion-modal h3, .fusion-pricing-table .pricing-row, .fusion-pricing-table .title-row, .fusion-title h3, .fusion-widget-area h3, .main-flex .slide-content h3, .post-content h3, .project-content h3, .sidebar .widget h3 {
  font-family: 'Futura';
}

/* line 10, sass/_base.scss */
.post-content h2 {
  font-size: 2.2em !important;
}

/* line 14, sass/_base.scss */
.fusion-main-menu > ul > li > a, .side-nav li a {
  font-family: 'FuturaCond';
  font-weight: bold;
  text-transform: uppercase;
}

/* line 20, sass/_base.scss */
.fusion-header {
  padding-top: 10px;
  padding-bottom: 10px;
}

/* line 24, sass/_base.scss */
.fusion-header > .fusion-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: space-between;
}
/* line 32, sass/_base.scss */
.fusion-header > .fusion-row > .logo {
  flex-basis: 200px;
}
/* line 35, sass/_base.scss */
.fusion-header > .fusion-row > .logo img {
  max-height: 110px;
}
/* line 39, sass/_base.scss */
.fusion-header > .fusion-row > .nav {
  fleX: 1;
  padding-left: 40px;
}
/* line 44, sass/_base.scss */
.fusion-header > .fusion-row > .nav .searcher .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
/* line 51, sass/_base.scss */
.fusion-header > .fusion-row > .nav .searcher .wrapper > .button {
  flex-basis: 30px;
}
/* line 54, sass/_base.scss */
.fusion-header > .fusion-row > .nav .searcher .wrapper > .button button {
  height: 30px;
  width: 30px;
  background: none;
  border: none;
  cursor: pointer;
}
/* line 62, sass/_base.scss */
.fusion-header > .fusion-row > .nav .searcher .wrapper > .inp {
  flex: 1;
}
/* line 65, sass/_base.scss */
.fusion-header > .fusion-row > .nav .searcher .wrapper > .inp input {
  padding: 10px 0;
  font-size: 1.2em;
  color: #007a33;
  border: none;
  font-family: 'FuturaCond';
  font-weight: bold;
}
/* line 73, sass/_base.scss */
.fusion-header > .fusion-row > .nav .searcher .wrapper > .inp input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-family: 'Futura';
  font-weight: normal;
  text-transform: uppercase;
}
/* line 79, sass/_base.scss */
.fusion-header > .fusion-row > .nav .searcher .wrapper > .inp input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  font-family: 'Futura';
  font-weight: normal;
  text-transform: uppercase;
}
/* line 85, sass/_base.scss */
.fusion-header > .fusion-row > .nav .searcher .wrapper > .inp input::-ms-input-placeholder {
  /* Microsoft Edge */
  font-family: 'Futura';
  font-weight: normal;
  text-transform: uppercase;
}
/* line 91, sass/_base.scss */
.fusion-header > .fusion-row > .nav .searcher .wrapper > .inp input:focus {
  outline: none;
  border-bottom: 0.5px solid #007a33;
}

/* line 102, sass/_base.scss */
.navmenu {
  padding: 15px 0 0 0;
  margin: 0 0 10px 0;
  border-bottom: 0.5px solid #cdcdcd;
}
/* line 107, sass/_base.scss */
.navmenu .menu-fomenu-container {
  height: 100%;
}
/* line 110, sass/_base.scss */
.navmenu a, .navmenu a:visited, .navmenu a:hover {
  color: black;
  font-weight: 300;
}
/* line 114, sass/_base.scss */
.navmenu ul, .navmenu li {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* line 120, sass/_base.scss */
.navmenu ul.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  margin: 0 -10px;
}
/* line 130, sass/_base.scss */
.navmenu ul.menu > li {
  height: 100%;
  position: relative;
  -webkit-transition: all .4s;
  transition: all .4s;
}
/* line 138, sass/_base.scss */
.navmenu ul.menu > li > a {
  display: block;
  padding: 0 10px;
  height: 100%;
  line-height: 45px;
  height: 45px;
  text-transform: uppercase;
  font-size: 1.15em;
  font-family: 'FuturaCond';
  font-weight: bold !important;
}
/* line 149, sass/_base.scss */
.navmenu ul.menu > li > a .ico {
  text-align: center;
  margin: 12px 0 5px 0;
}
/* line 152, sass/_base.scss */
.navmenu ul.menu > li > a .ico i {
  font-size: 15px;
}
/* line 159, sass/_base.scss */
.navmenu ul.menu > li.current_page_item > a {
  color: #007a33;
}
/* line 164, sass/_base.scss */
.navmenu ul.menu > li > .sub-menu {
  position: absolute;
  left: 0;
  min-width: 200px;
  max-width: 320px;
  background: #ffffff;
  top: 101%;
  box-shadow: 2px 5px 30px -10px black;
}
/* line 173, sass/_base.scss */
.navmenu ul.menu > li > .sub-menu > li {
  border-bottom: 0.5px solid #e6e6e6;
}
/* line 175, sass/_base.scss */
.navmenu ul.menu > li > .sub-menu > li > a {
  padding: 8px 12px;
  display: block;
  font-size: 1.1em;
  width: 100%;
  -webkit-transition: all .4s;
  transition: all .4s;
}
/* line 183, sass/_base.scss */
.navmenu ul.menu > li > .sub-menu > li > a:hover {
  color: black;
  background: #e6e6e6;
}
/* line 192, sass/_base.scss */
.navmenu ul.menu > li:hover > .sub-menu {
  display: block;
}
/* line 199, sass/_base.scss */
.navmenu ul.sub-menu {
  display: none;
}

/* line 204, sass/_base.scss */
.avada-skin-rev {
  border: none;
}

/* line 209, sass/_base.scss */
.blog-list-holder .list {
  margin: -10px;
}
/* line 211, sass/_base.scss */
.blog-list-holder .list .item {
  padding: 10px;
}
/* line 214, sass/_base.scss */
.blog-list-holder .list .item .image img {
  width: 100%;
}
/* line 218, sass/_base.scss */
.blog-list-holder .list .item .date {
  color: #ababab;
  text-align: center;
  font-size: 0.85em;
  margin: 10px 0 0 0;
}
/* line 224, sass/_base.scss */
.blog-list-holder .list .item .title {
  text-align: center;
  margin: 0 0 5px 0;
}
/* line 227, sass/_base.scss */
.blog-list-holder .list .item .title h3 {
  margin: 0;
}
/* line 230, sass/_base.scss */
.blog-list-holder .list .item .title h3 a {
  color: #535353;
  font-size: 1.25em;
  text-align: center;
}
/* line 236, sass/_base.scss */
.blog-list-holder .list .item .desc {
  color: #ababab;
  font-size: 0.9em;
  line-height: 1.3;
}
/* line 242, sass/_base.scss */
.blog-list-holder .list .item .read {
  text-align: center;
}
/* line 245, sass/_base.scss */
.blog-list-holder .list .item .read a {
  text-transform: uppercase;
  text-decoration: none;
}
/* line 254, sass/_base.scss */
.blog-list-holder.style-slide .slick-arrow {
  position: absolute;
  top: 50%;
  text-indent: -9999999px;
  border: 1px solid #007a33;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  cursor: pointer;
  background: transparent;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 267, sass/_base.scss */
.blog-list-holder.style-slide .slick-arrow:focus {
  outline: none;
}
/* line 271, sass/_base.scss */
.blog-list-holder.style-slide .slick-arrow:before {
  font-family: 'FontAwesome';
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: 12px;
  color: #007a33;
  text-indent: 0;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* line 283, sass/_base.scss */
.blog-list-holder.style-slide .slick-arrow.slick-next {
  right: -50px;
}
/* line 285, sass/_base.scss */
.blog-list-holder.style-slide .slick-arrow.slick-next:before {
  content: "\f178";
}
/* line 289, sass/_base.scss */
.blog-list-holder.style-slide .slick-arrow.slick-prev {
  left: -50px;
}
/* line 291, sass/_base.scss */
.blog-list-holder.style-slide .slick-arrow.slick-prev:before {
  content: "\f177";
}
/* line 296, sass/_base.scss */
.blog-list-holder.style-slide .slick-arrow:hover {
  background: #007a33;
}
/* line 298, sass/_base.scss */
.blog-list-holder.style-slide .slick-arrow:hover:before {
  color: white;
}
/* line 304, sass/_base.scss */
.blog-list-holder.style-slide.wantslide .list {
  margin: -10px !important;
}
/* line 306, sass/_base.scss */
.blog-list-holder.style-slide.wantslide .list .item {
  padding: 10px !important;
}
/* line 313, sass/_base.scss */
.blog-list-holder.style-slide:not(.wantslide) .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}
/* line 319, sass/_base.scss */
.blog-list-holder.style-slide:not(.wantslide) .list > .item {
  flex-basis: calc(100% / 3);
}

/* line 331, sass/_base.scss */
.product-categories-holder.style-boxslide .holder .list .catgroup {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  margin: -5px;
}
/* line 339, sass/_base.scss */
.product-categories-holder.style-boxslide .holder .list .catgroup > .cat {
  flex-basis: calc(100% / 4);
  padding: 5px;
}
/* line 343, sass/_base.scss */
.product-categories-holder.style-boxslide .holder .list .catgroup > .cat > .wrapper {
  background: #f1f1f1;
  position: relative;
  height: 13vh;
  overflow: hidden;
  -webkit-transition: all .4s;
  transition: all .4s;
}
/* line 351, sass/_base.scss */
.product-categories-holder.style-boxslide .holder .list .catgroup > .cat > .wrapper img {
  width: 100%;
  max-width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 1;
}
/* line 362, sass/_base.scss */
.product-categories-holder.style-boxslide .holder .list .catgroup > .cat > .wrapper .cimke {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 80%;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  font-weight: 300;
  padding: 12px 10px;
  font-size: 1em;
  color: black;
  z-index: 2;
  border: 1px solid white;
  background: rgba(255, 255, 255, 0.85);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* line 383, sass/_base.scss */
.product-categories-holder.style-boxslide .holder .list .catgroup > .cat:hover > .wrapper {
  border-radius: 10px;
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  box-shadow: 0 5px 25px -5px black;
}
/* line 395, sass/_base.scss */
.product-categories-holder.style-boxslide .slick-arrow {
  position: absolute;
  top: 50%;
  text-indent: -9999999px;
  border: 1px solid #007a33;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  cursor: pointer;
  background: transparent;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 408, sass/_base.scss */
.product-categories-holder.style-boxslide .slick-arrow:focus {
  outline: none;
}
/* line 412, sass/_base.scss */
.product-categories-holder.style-boxslide .slick-arrow:before {
  font-family: 'FontAwesome';
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: 12px;
  color: #007a33;
  text-indent: 0;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* line 424, sass/_base.scss */
.product-categories-holder.style-boxslide .slick-arrow.slick-next {
  right: -50px;
}
/* line 426, sass/_base.scss */
.product-categories-holder.style-boxslide .slick-arrow.slick-next:before {
  content: "\f178";
}
/* line 430, sass/_base.scss */
.product-categories-holder.style-boxslide .slick-arrow.slick-prev {
  left: -50px;
}
/* line 432, sass/_base.scss */
.product-categories-holder.style-boxslide .slick-arrow.slick-prev:before {
  content: "\f177";
}
/* line 437, sass/_base.scss */
.product-categories-holder.style-boxslide .slick-arrow:hover {
  background: #007a33;
}
/* line 439, sass/_base.scss */
.product-categories-holder.style-boxslide .slick-arrow:hover:before {
  color: white;
}

/* line 449, sass/_base.scss */
.fusion-widget-area h3,
.fusion-widget-area h4,
.fusion-footer-widget-area .widget-title, .fusion-footer-widget-area h3, .fusion-footer-widget-column .product-title {
  font-family: 'Futura';
  font-size: 1.3em;
  font-weight: bold;
  margin: 0 0 30px 0;
}

/* line 455, sass/_base.scss */
.fusion-footer-widget-area .widget_nav_menu li a:before, .fusion-footer-widget-area .widget_categories li a:before, .fusion-footer-widget-area .widget_meta li a:before, .fusion-footer-widget-area .widget .recentcomments:before, .fusion-footer-widget-area .widget_recent_entries li a:before, .fusion-footer-widget-area .widget_archive li a:before, .fusion-footer-widget-area .widget_pages li a:before, .fusion-footer-widget-area .widget_links li a:before {
  content: "";
  display: none;
}

/* line 459, sass/_base.scss */
.fusion-widget-area .widget_nav_menu li {
  padding: 4px 0;
  border: none;
}
/* line 462, sass/_base.scss */
.fusion-widget-area .widget_nav_menu li a {
  text-transform: uppercase;
  color: #ababab;
}

/* line 467, sass/_base.scss */
.fusion-footer-widget-area {
  padding-top: 0;
  padding-bottom: 0;
}

/* line 471, sass/_base.scss */
.fusion-footer-copyright-area {
  padding: 10px 0;
}

/* line 474, sass/_base.scss */
.fusion-footer .fusion-columns .fusion-column {
  border-right: 2px solid #eaeaea;
  height: 260px;
  padding: 25px;
}

/* line 479, sass/_base.scss */
.fusion-footer .fusion-columns .fusion-column.fusion-column-last {
  border-right: none;
}

/* line 482, sass/_base.scss */
.fusion-copyright-notice {
  color: #343434;
}

/* line 486, sass/_base.scss */
.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}

/* line 494, sass/_base.scss */
.footer-contacts .wrapper {
  width: 1100px;
  margin: 0 auto;
  padding: 50px 0;
}
/* line 499, sass/_base.scss */
.footer-contacts .subs-nav {
  background: #007a33;
  color: white;
}
/* line 502, sass/_base.scss */
.footer-contacts .subs-nav > .wrapper > .grid {
  align-items: center;
}
/* line 505, sass/_base.scss */
.footer-contacts .subs-nav > .wrapper > .grid .social {
  padding-right: 20px;
  border-right: 1px solid white;
  flex-basis: 180px;
}
/* line 510, sass/_base.scss */
.footer-contacts .subs-nav > .wrapper > .grid .social .fusion-social-networks .fusion-social-network-icon {
  margin: 5px 15px 5px 15px;
  font-size: 22px;
}
/* line 515, sass/_base.scss */
.footer-contacts .subs-nav > .wrapper > .grid .subs {
  flex: 1;
  padding-left: 20px;
}
/* line 518, sass/_base.scss */
.footer-contacts .subs-nav > .wrapper > .grid .subs > .grid {
  align-items: center;
  justify-content: flex-end;
}
/* line 522, sass/_base.scss */
.footer-contacts .subs-nav > .wrapper > .grid .subs > .grid > div {
  padding: 0 15px;
}
/* line 526, sass/_base.scss */
.footer-contacts .subs-nav > .wrapper > .grid .subs > .grid .text {
  font-size: 2em;
}
/* line 530, sass/_base.scss */
.footer-contacts .subs-nav > .wrapper > .grid .subs > .grid .inp {
  flex-basis: 40%;
}
/* line 532, sass/_base.scss */
.footer-contacts .subs-nav > .wrapper > .grid .subs > .grid .inp input {
  height: 35px;
  line-height: 35px;
  padding: 0 12px;
  width: 100%;
  color: #007a33;
  font-weight: bold;
  font-size: 1.1em;
}
/* line 544, sass/_base.scss */
.footer-contacts .subs-nav > .wrapper > .grid .subs > .grid .button button {
  border: 2px solid white;
  background: none;
  padding: 0 12px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  line-height: 35px;
  height: 35px;
}
/* line 555, sass/_base.scss */
.footer-contacts .subs-nav > .wrapper > .grid .subs > .grid .button button:hover {
  background: white;
  color: black;
}
/* line 565, sass/_base.scss */
.footer-contacts .cont {
  background: #f4f4f4;
  color: #343434;
  font-size: 1.2em;
}
/* line 569, sass/_base.scss */
.footer-contacts .cont > .wrapper > .grid {
  justify-content: space-between;
  align-items: center;
}
/* line 573, sass/_base.scss */
.footer-contacts .cont .phone, .footer-contacts .cont .email {
  line-height: 1;
}
/* line 576, sass/_base.scss */
.footer-contacts .cont .phone > .grid > div, .footer-contacts .cont .email > .grid > div {
  padding: 10px;
}
/* line 580, sass/_base.scss */
.footer-contacts .cont .phone > .grid .text, .footer-contacts .cont .email > .grid .text {
  text-transform: uppercase;
  font-size: 0.9em;
  line-height: 1;
  text-align: center;
}
/* line 588, sass/_base.scss */
.footer-contacts .cont .phone > .grid .ico i, .footer-contacts .cont .email > .grid .ico i {
  font-size: 24px;
  color: #007a33;
  margin: 0;
  padding: 0;
}
/* line 596, sass/_base.scss */
.footer-contacts .cont .phone > .grid .val, .footer-contacts .cont .email > .grid .val {
  font-size: 1.3em;
}
