body, html {
  font-family: 'Futura' !important;
}

#main .post h2, #main .reading-box h2, #main h2, .ei-title h2, .fusion-modal h2, .fusion-title h2, .fusion-widget-area h2, .main-flex .slide-content h2, .post-content h2, .title h2,
.fusion-author .fusion-author-title, .fusion-header-tagline, .fusion-modal .modal-title, .fusion-modal h3, .fusion-pricing-table .pricing-row, .fusion-pricing-table .title-row, .fusion-title h3, .fusion-widget-area h3, .main-flex .slide-content h3, .post-content h3, .project-content h3, .sidebar .widget h3{
  font-family: 'Futura';
}

.fusion-main-menu > ul > li > a, .side-nav li a{
  font-family: 'FuturaCond';
  font-weight: bold;
  text-transform: uppercase;
}

.fusion-header{
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 5px solid $color-green;
}
.fusion-header > .fusion-row{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: space-between;

  & > .logo{
    flex-basis: 200px;

    img{
      max-height: 110px;
    }
  }
  & > .nav{
    fleX: 1;
    padding-left: 40px;

    .searcher{
      .wrapper{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;

        & > .button {
          flex-basis: 30px;

          button {
            height: 30px;
            width: 30px;
            background: none;
            border: none;
            cursor: pointer;
          }
        }
        & > .inp {
          flex: 1;

          input{
            padding: 10px 0;
            font-size: 1.2em;
            color: $color-green;
            border: none;
            font-family: 'FuturaCond';
            font-weight: bold;

            &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
              font-family: 'Futura';
              font-weight: normal;
              text-transform: uppercase;
            }

            &:-ms-input-placeholder { /* Internet Explorer 10-11 */
              font-family: 'Futura';
              font-weight: normal;
              text-transform: uppercase;
            }

            &::-ms-input-placeholder { /* Microsoft Edge */
              font-family: 'Futura';
              font-weight: normal;
              text-transform: uppercase;
            }

            &:focus{
              outline: none;
              border-bottom: 0.5px solid $color-green;
            }
          }
        }
      }
    }
  }
}

.navmenu{
  padding: 25px 0 15px 0;
  margin: 0 0 15px 0;
  border-bottom: 1px solid #dddddd;

  .menu-fomenu-container{
    height: 100%;
  }
  a, a:visited, a:hover{
    color: black;
    font-weight: 300;
  }
  ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  ul.menu{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    margin: 0 -10px;

    & > li {
      height: 100%;
      position: relative;
      -webkit-transition: all .4s;
      transition: all .4s;

      &.current_page_item{
        box-shadow: inset 0 -4px 0 #aaaaaa;
      }

      & > a{
        display: block;
        padding: 0 10px;
        height: 100%;
        line-height: 1;
        text-transform: uppercase;
        font-size: 1.2em;
        font-family: 'FuturaCond';
        font-weight: bold !important;

        .ico {
          text-align: center;
          margin: 12px 0 5px 0;
          i {
            font-size: 15px;
          }
        }
      }

      & > .sub-menu{
        position: absolute;
        left: 0;
        min-width: 200px;
        max-width: 320px;
        top: 80px;

        & > li {
          & > a {
            padding: 10px;
            display: block;
            font-size: 0.8em;
            width: 100%;
            -webkit-transition: all .4s;
            transition: all .4s;

            &:hover{
              color: black;
            }
          }
        }
      }

      &:hover{
        & > .sub-menu{
          display: block;
        }
      }
    }
  }

  ul.sub-menu {
    display: none;
  }
}

.avada-skin-rev{
  border: none;
}
