body, html {
  font-family: 'Futura' !important;
}

#main .post h2, #main .reading-box h2, #main h2, .ei-title h2, .fusion-modal h2, .fusion-title h2, .fusion-widget-area h2, .main-flex .slide-content h2, .post-content h2, .title h2,
.fusion-author .fusion-author-title, .fusion-header-tagline, .fusion-modal .modal-title, .fusion-modal h3, .fusion-pricing-table .pricing-row, .fusion-pricing-table .title-row, .fusion-title h3, .fusion-widget-area h3, .main-flex .slide-content h3, .post-content h3, .project-content h3, .sidebar .widget h3{
  font-family: 'Futura';
}

.post-content h2 {
  font-size: 2.2em !important;
}

.fusion-main-menu > ul > li > a, .side-nav li a{
  font-family: 'FuturaCond';
  font-weight: bold;
  text-transform: uppercase;
}

.fusion-header{
  padding-top: 10px;
  padding-bottom: 10px;
}
.fusion-header > .fusion-row{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: space-between;

  & > .logo{
    flex-basis: 200px;

    img{
      max-height: 110px;
    }
  }
  & > .nav{
    fleX: 1;
    padding-left: 40px;

    .searcher{
      .wrapper{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;

        & > .button {
          flex-basis: 30px;

          button {
            height: 30px;
            width: 30px;
            background: none;
            border: none;
            cursor: pointer;
          }
        }
        & > .inp {
          flex: 1;

          input{
            padding: 10px 0;
            font-size: 1.2em;
            color: $color-green;
            border: none;
            font-family: 'FuturaCond';
            font-weight: bold;

            &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
              font-family: 'Futura';
              font-weight: normal;
              text-transform: uppercase;
            }

            &:-ms-input-placeholder { /* Internet Explorer 10-11 */
              font-family: 'Futura';
              font-weight: normal;
              text-transform: uppercase;
            }

            &::-ms-input-placeholder { /* Microsoft Edge */
              font-family: 'Futura';
              font-weight: normal;
              text-transform: uppercase;
            }

            &:focus{
              outline: none;
              border-bottom: 0.5px solid $color-green;
            }
          }
        }
      }
    }
  }
}

.navmenu{
  padding: 15px 0 0 0;
  margin: 0 0 10px 0;
  border-bottom: 0.5px solid #cdcdcd;

  .menu-fomenu-container{
    height: 100%;
  }
  a, a:visited, a:hover{
    color: black;
    font-weight: 300;
  }
  ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  ul.menu{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    margin: 0 -10px;

    & > li {
      height: 100%;
      position: relative;
      -webkit-transition: all .4s;
      transition: all .4s;

      & > a{
        display: block;
        padding: 0 10px;
        height: 100%;
        line-height: 45px;
        height: 45px;
        text-transform: uppercase;
        font-size: 1.15em;
        font-family: 'FuturaCond';
        font-weight: bold !important;

        .ico {
          text-align: center;
          margin: 12px 0 5px 0;
          i {
            font-size: 15px;
          }
        }
      }

      &.current_page_item{
         & > a {
           color: $color-green;
         }
      }

      & > .sub-menu{
        position: absolute;
        left: 0;
        min-width: 200px;
        max-width: 320px;
        background: #ffffff;
        top: 101%;
        box-shadow: 2px 5px 30px -10px black;

        & > li {
          border-bottom: 0.5px solid #e6e6e6;
          & > a {
            padding: 8px 12px;
            display: block;
            font-size: 1.1em;
            width: 100%;
            -webkit-transition: all .4s;
            transition: all .4s;

            &:hover{
              color: black;
              background: #e6e6e6;
            }
          }
        }
      }

      &:hover{
        & > .sub-menu{
          display: block;
        }
      }

      &.menu-item-has-children{
        & > a:after {
          content: "\f107";
          font-family: 'FontAwesome';
          margin: 0 0 0 6px;
        }
      }
    }
  }

  ul.sub-menu {
    display: none;
  }
}

.avada-skin-rev{
  border: none;
}

.blog-list-holder{
  .list{
    margin: -10px;
    .item{
      padding: 10px;
      .image{
        img {
          width: 100%;
        }
      }
      .date{
        color: #ababab;
        text-align: center;
        font-size: 0.85em;
        margin: 10px 0 0 0;
      }
      .title{
        text-align: center;
        margin: 0 0 5px 0;
        h3{
          margin: 0;
        }
        h3 a {
          color: #535353;
          font-size: 1.25em;
          text-align: center;
        }
      }
      .desc{
        color: #ababab;
        font-size: 0.9em;
        line-height: 1.3;
      }

      .read{
        text-align: center;

        a {
          text-transform: uppercase;
          text-decoration: none;
        }
      }
    }
  }

  &.style-slide{
    .slick-arrow{
      position: absolute;
      top: 50%;
      text-indent: -9999999px;
      border: 1px solid $color-green;
      width: 40px;
      height: 40px;
      border-radius: 40px;
      cursor: pointer;
      background: transparent;
      -webkit-transform: translateY(-50%);
          transform: translateY(-50%);

      &:focus{
        outline: none;
      }

      &:before{
        font-family: 'FontAwesome';
        position: absolute;
        left: 50%;
        top: 50%;
        font-size: 12px;
        color: $color-green;
        text-indent: 0;
        -webkit-transform:translate(-50%,-50%);
          transform:translate(-50%,-50%);
      }

      &.slick-next{
        right: -50px;
        &:before{
          content:"\f178";
        }
      }
      &.slick-prev{
        left: -50px;
        &:before{
          content:"\f177";
        }
      }

      &:hover{
        background: $color-green;
        &:before{
          color: white;
        }
      }
    }
    &.wantslide{
      .list{
        margin: -10px !important;
        .item{
          padding: 10px !important;
        }
      }
    }

    &:not(.wantslide){
      .list{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        flex-wrap: wrap;

        & > .item{
          flex-basis: calc(100% / 3);
        }
      }
    }
  }
}

ul.nav {
	margin: 0 0 20px 0;
  padding: 0;

	li {
		display: inline-block;
		*display: inline;
		zoom: 1;

		&:after{
			content:"/";
			margin: 0 5px;
			color: #e2e2e2;
		}

		a{
			color: #4a4a4a;
      text-transform: uppercase;
			font-size: 0.9em;
      font-family: 'Roboto';

      &:hover{
        color: $color-green;
      }
		}
		a.cat{
			color: white;
			font-size: 0.8em;
			text-decoration: none;

			span{
				padding: 2px 4px;
			}
		}

		&:last-child{
			&:after{
				display: none;
			}
		}
	}
}

.archive.tax-kategoria,
.archive.tax-csoportok{
  #main{
    padding: 0;
    & > .fusion-row{
      width: 100%;
      max-width: 100%;
    }
  }
  .borito {
    background: #acacac;
    height: 420px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    .wrapper{
      height: 100%;
      width: $page-width;
      margin: 0 auto;
      position: relative;

      .felirat{
        background: rgba(255, 255, 255, 0.9);
        text-align: center;
        padding: 25px;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        -webkit-transform:translate(-50%,-50%);
        transform:translate(-50%,-50%);


        h1 {
          text-transform: uppercase;
          font-weight: 300;
          font-size: 4vh;
          color: black;
          margin: 0 0 20px 0;
        }

        .desc{
          color: black;
          font-size: 1.2em;
          line-height: 1.2;
        }
      }
    }
  }

}

.term-list{
  padding: 15px 0;

  .products{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: -15px;
    & > div {
      flex-basis: calc(100% / 3);
      padding: 15px;
      & > .wrapper{
        border: 0.5px solid transparent;
        .image{
          text-align: center;
          padding: 15px;
          height: 240px;
          overflow: hidden;
          position: relative;
          img{
            width: auto;
            max-width: initial;
            height: 90%;
            max-height: 90%;
            position: absolute;
            left: 50%;
            top: 50%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            z-index: 1;
          }
        }

        .datas{
          padding: 15px;

          .title{
            text-align: center;
            h4{
              text-align: center;
              font-size: 1.15em;
              margin: 0 0 25px 0;
              a {
                display: block;
              }
            }
          }

          .bt{
            text-align: center;
            padding: 0 0 15px 0;
            a{
              padding: 8px 10px;
              text-transform: uppercase;
              color: $color-green;
              border: 2px solid $color-green;
              font-weight: 600;
              -webkit-transition: all .4s;
                transition:all .4s;

              &:hover{
                background: $color-green;
                color: white;
              }
            }
          }
        }
      }

      &:hover{
        & > .wrapper{
          border: 0.5px solid #d7d7d7;
        }
      }
    }
  }

  .no-products{
    text-align: center;
    padding: 25px;
    font-size: 1.2em;

    h3 {
      color: black;
      text-transform: uppercase;
    }
  }

  .header{
    border-bottom: 1px solid #dcdcdc;
    margin: 0 0 15px 0;
    padding: 0 0 10px 0;

    .nav {
      margin: 0 0 20px 0;
    }

    .filters{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      & > .info {
        flex-basis: 50%;
        color: black;
        font-size: 1.2em;

        .src-result{
          color: #8d8d8d;
          font-size: 0.9em;

          .srckeys{
            span {
              background: #e8e8e8;
              color: #1b1b1b;
              padding: 3px 6px;
              border-radius: 9px;
              margin: 0 4px;
              font-size: 0.7em;
            }
          }
        }
      }
      & > .filter{
        flex: 1;
        & > form > .wrapper{
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: flex-end;

          input, select{
            padding: 10px;
            background: #f3f3f3;
            border: 0.5px solid #cdcdcd;
            color: black;
            height: 35px;
          }

          & > div {
            padding: 0 0 0 5px;
          }
        }
      }
    }
  }
}

.product-categories-holder{
  &.style-boxslide{
    .holder{
      .list{
        .catgroup{
          width: 100%;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          flex-wrap: wrap;
          margin: -5px;

          & > .cat{
            flex-basis: calc(100% / 4);
            padding: 5px;

            & > .wrapper{
              background: #f1f1f1;
              position: relative;
              height: 13vh;
              overflow: hidden;
              -webkit-transition: all .4s;
              transition: all .4s;

              img{
                width: 100%;
                max-width: 100%;
                position: absolute;
                left: 50%;
                top: 50%;
                -webkit-transform:translate(-50%,-50%);
                transform:translate(-50%,-50%);
                z-index: 1;
              }

              .cimke{
                position: absolute;
                left: 50%;
                top: 50%;
                width: 80%;
                line-height: 1;
                text-align: center;
                text-transform: uppercase;
                font-weight: 300;
                padding: 12px 10px;
                font-size: 1em;
                color: black;
                z-index: 2;
                border: 1px solid white;
                background: rgba(255, 255, 255, 0.85);
                -webkit-transform:translate(-50%,-50%);
                transform:translate(-50%,-50%);
              }
            }

            &:hover{
              & > .wrapper{
                border-radius: 10px;
                -webkit-transform: scale(0.9);
                transform: scale(0.9);
                box-shadow: 0 5px 25px -5px #000000;
              }
            }
          }
        }
      }
    }

    .slick-arrow{
      position: absolute;
      top: 50%;
      text-indent: -9999999px;
      border: 1px solid $color-green;
      width: 40px;
      height: 40px;
      border-radius: 40px;
      cursor: pointer;
      background: transparent;
      -webkit-transform: translateY(-50%);
          transform: translateY(-50%);

      &:focus{
        outline: none;
      }

      &:before{
        font-family: 'FontAwesome';
        position: absolute;
        left: 50%;
        top: 50%;
        font-size: 12px;
        color: $color-green;
        text-indent: 0;
        -webkit-transform:translate(-50%,-50%);
          transform:translate(-50%,-50%);
      }

      &.slick-next{
        right: -50px;
        &:before{
          content:"\f178";
        }
      }
      &.slick-prev{
        left: -50px;
        &:before{
          content:"\f177";
        }
      }

      &:hover{
        background: $color-green;
        &:before{
          color: white;
        }
      }
    }
  }
}

 .fusion-widget-area h3,
 .fusion-widget-area h4,
 .fusion-footer-widget-area .widget-title, .fusion-footer-widget-area h3, .fusion-footer-widget-column .product-title{
   font-family: 'Futura';
   font-size: 1.3em;
   font-weight: bold;
   margin: 0 0 30px 0;
 }
 .fusion-footer-widget-area .widget_nav_menu li a:before, .fusion-footer-widget-area .widget_categories li a:before, .fusion-footer-widget-area .widget_meta li a:before, .fusion-footer-widget-area .widget .recentcomments:before, .fusion-footer-widget-area .widget_recent_entries li a:before, .fusion-footer-widget-area .widget_archive li a:before, .fusion-footer-widget-area .widget_pages li a:before, .fusion-footer-widget-area .widget_links li a:before{
   content:"";
   display: none;
 }
.fusion-widget-area .widget_nav_menu li{
  padding: 4px 0;
  border: none;
  a{
    text-transform: uppercase;
    color: #ababab;
  }
}
.fusion-footer-widget-area{
  padding-top: 0;
  padding-bottom: 0;
}
.fusion-footer-copyright-area{
  padding: 10px 0;
}
.fusion-footer .fusion-columns .fusion-column{
  border-right: 2px solid #eaeaea;
  height: 280px;
  padding: 25px;
}
.fusion-footer .fusion-columns .fusion-column.fusion-column-last{
  border-right: none;
}
.fusion-copyright-notice{
  color: #343434;
}

.grid{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}

.footer-contacts{
  .wrapper{
    width: $page-width;
    margin: 0 auto;
    padding: 50px 0;
  }
  .subs-nav{
    background: $color-green;
    color: white;
    & > .wrapper > .grid{
      align-items: center;

      .social{
        padding-right: 20px;
        border-right: 1px solid white;
        flex-basis: 180px;

        .fusion-social-networks .fusion-social-network-icon{
          margin: 5px 15px 5px 15px;
          font-size: 22px;
        }
      }
      .subs{
        flex: 1;
        padding-left: 20px;
        & > .grid{
          align-items: center;
          justify-content: flex-end;

          & > div {
            padding: 0 15px;
          }

          .text {
            font-size: 2em;
          }

          .inp {
            flex-basis: 40%;
            input{
              height: 35px;
              line-height: 35px;
              padding: 0 12px;
              width: 100%;
              color: $color-green;
              font-weight: bold;
              font-size: 1.1em;
            }
          }

          .button {
            button {
              border: 2px solid white;
              background: none;
              padding: 0 12px;
              color: white;
              font-weight: bold;
              text-transform: uppercase;
              cursor: pointer;
              line-height: 35px;
              height: 35px;

              &:hover{
                background: white;
                color: black;
              }
            }
          }
        }
      }
    }
  }
  .cont{
    background: #f4f4f4;
    color: #343434;
    font-size: 1.2em;
    & > .wrapper > .grid{
      justify-content: space-between;
      align-items: center;
    }
    .phone, .email {
      line-height: 1;
      & > .grid{
        & > div {
          padding: 10px;
        }

        .text {
          text-transform: uppercase;
          font-size: 0.9em;
          line-height: 1;
          text-align: center;
        }

        .ico {
          i {
            font-size: 24px;
            color: $color-green;
            margin: 0;
            padding: 0;
          }
        }

        .val{
          font-size: 1.3em;
        }
      }
    }
  }
}

body.single-termekek{
  #main {
    padding: 20px;
    border-top: 5px solid #d1d1d1;
  }
  .cont{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -20px;

    & > .image,
    & > .prod-body{
      flex-basis: 50%;
      padding: 0 20px;
    }

    .image{
      & > .wrapper{
        border: 1px solid #f1f1f1;
        padding: 10px;
      }
    }

    .prod-body{
      h1{
        margin: 0 0 25px 0;
        color: $color-green;
        font-weight: bold;

        font-size: 2.4em;
      }
      .description{
        font-family: 'Roboto', sans-serif;
        color: black;
        font-size: 1.1em;
        line-height: 1.4;
      }
    }
  }
  .terms{
    .term{
      font-size: 0.9em;
      margin: 5px 0;

      a{
        font-family: 'Roboto';
        color: #444444;

        &:hover{
          color: $color-green;
        }
      }
    }
  }
}

#wrapper #main .post > h2.entry-title{
  font-size: 1.8em;
  font-weight: bold;
}

.dijak-lista,
.viszonteladok-lista{
  .dij,
  .viszontelado{
    margin: 0 0 20px 0;
    padding: 0 0 20px 0;
    border-bottom: 5px solid #f1f1f1;
    & > .wrapper{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      flex-wrap: wrap;

      .image{
        flex-basis: 80px;
        text-align: center;
      }
      .datas{
        padding: 0 0 0 20px;
        flex: 1;
        h4{
          margin: 0 0 10px 0;
          font-size: 1.8em;
          font-weight: bold;
          line-height: 1;
        }
      }
    }
  }

  .viszontelado{
    & > .wrapper{
      .image{
        flex-basis: 80px;
        img {
          width: 100%;
        }
      }
      .datas{
        h4{
          margin: 0 0 5px 0;
          font-size: 1.3em;
          color: $color-green;
          font-weight: bold;
          line-height: 1;
        }
      }
    }
  }
}

.award-list-holder{
  & > .holder{
    border: 1px solid #ececec;
    & > .list {
      padding: 20px;
    }
  }

  .list{
    .item{
      .wrapper{
        .image{
          text-align: center;
          img {
            margin: 0 auto;
          }
        }
      }
    }
  }

  .slick-arrow{
    position: absolute;
    top: 50%;
    text-indent: -9999999px;
    border: 1px solid $color-green;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    cursor: pointer;
    background: transparent;
    -webkit-transform: translateY(-50%);
        transform: translateY(-50%);

    &:focus{
      outline: none;
    }

    &:before{
      font-family: 'FontAwesome';
      position: absolute;
      left: 50%;
      top: 50%;
      font-size: 12px;
      color: $color-green;
      text-indent: 0;
      -webkit-transform:translate(-50%,-50%);
        transform:translate(-50%,-50%);
    }

    &.slick-next{
      right: -50px;
      &:before{
        content:"\f178";
      }
    }
    &.slick-prev{
      left: -50px;
      &:before{
        content:"\f177";
      }
    }

    &:hover{
      background: $color-green;
      &:before{
        color: white;
      }
    }
  }
}

.pagination{
  width: 100%;
  text-align: center;
  ul {
    margin: 10px auto;
    li{
      display: inline-block;
      *display: inline;
      zoom: 1;
      vertical-align: middle;
      padding: 2px;

      a{
        background: #dddddd;
        padding: 5px 8px;
        display: block;
        color: black;
        text-decoration: none;
      }
      &.active {
        a{
          background: $color-green;
          color: white;
        }
      }
    }
  }
}
