body, html {
  font-family: 'Futura' !important;
}

#main .post h2, #main .reading-box h2, #main h2, .ei-title h2, .fusion-modal h2, .fusion-title h2, .fusion-widget-area h2, .main-flex .slide-content h2, .post-content h2, .title h2,
.fusion-author .fusion-author-title, .fusion-header-tagline, .fusion-modal .modal-title, .fusion-modal h3, .fusion-pricing-table .pricing-row, .fusion-pricing-table .title-row, .fusion-title h3, .fusion-widget-area h3, .main-flex .slide-content h3, .post-content h3, .project-content h3, .sidebar .widget h3{
  font-family: 'Futura';
}

.post-content h2 {
  font-size: 2.2em !important;
}

.fusion-main-menu > ul > li > a, .side-nav li a{
  font-family: 'FuturaCond';
  font-weight: bold;
  text-transform: uppercase;
}

.fusion-header{
  padding-top: 10px;
  padding-bottom: 10px;
}
.fusion-header > .fusion-row{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: space-between;

  & > .logo{
    flex-basis: 200px;

    img{
      max-height: 110px;
    }
  }
  & > .nav{
    fleX: 1;
    padding-left: 40px;

    .searcher{
      .wrapper{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;

        & > .button {
          flex-basis: 30px;

          button {
            height: 30px;
            width: 30px;
            background: none;
            border: none;
            cursor: pointer;
          }
        }
        & > .inp {
          flex: 1;

          input{
            padding: 10px 0;
            font-size: 1.2em;
            color: $color-green;
            border: none;
            font-family: 'FuturaCond';
            font-weight: bold;

            &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
              font-family: 'Futura';
              font-weight: normal;
              text-transform: uppercase;
            }

            &:-ms-input-placeholder { /* Internet Explorer 10-11 */
              font-family: 'Futura';
              font-weight: normal;
              text-transform: uppercase;
            }

            &::-ms-input-placeholder { /* Microsoft Edge */
              font-family: 'Futura';
              font-weight: normal;
              text-transform: uppercase;
            }

            &:focus{
              outline: none;
              border-bottom: 0.5px solid $color-green;
            }
          }
        }
      }
    }
  }
}

.navmenu{
  padding: 15px 0 0 0;
  margin: 0 0 10px 0;
  border-bottom: 0.5px solid #cdcdcd;

  .menu-fomenu-container{
    height: 100%;
  }
  a, a:visited, a:hover{
    color: black;
    font-weight: 300;
  }
  ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  ul.menu{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    margin: 0 -10px;

    & > li {
      height: 100%;
      position: relative;
      -webkit-transition: all .4s;
      transition: all .4s;



      & > a{
        display: block;
        padding: 0 10px;
        height: 100%;
        line-height: 45px;
        height: 45px;
        text-transform: uppercase;
        font-size: 1.35em;
        font-family: 'FuturaCond';
        font-weight: bold !important;

        .ico {
          text-align: center;
          margin: 12px 0 5px 0;
          i {
            font-size: 15px;
          }
        }
      }

      &.current_page_item{
         & > a {
           color: $color-green;
         }
      }

      & > .sub-menu{
        position: absolute;
        left: 0;
        min-width: 200px;
        max-width: 320px;
        background: #ececec;

        & > li {
          & > a {
            padding: 8px 12px;
            display: block;
            font-size: 1.1em;
            width: 100%;
            -webkit-transition: all .4s;
            transition: all .4s;

            &:hover{
              color: black;
            }
          }
        }
      }

      &:hover{
        & > .sub-menu{
          display: block;
        }
      }
    }
  }

  ul.sub-menu {
    display: none;
  }
}

.avada-skin-rev{
  border: none;
}

 .fusion-widget-area h3,
 .fusion-widget-area h4,
 .fusion-footer-widget-area .widget-title, .fusion-footer-widget-area h3, .fusion-footer-widget-column .product-title{
   font-family: 'Futura';
   font-size: 1.3em;
   font-weight: bold;
   margin: 0 0 30px 0;
 }
 .fusion-footer-widget-area .widget_nav_menu li a:before, .fusion-footer-widget-area .widget_categories li a:before, .fusion-footer-widget-area .widget_meta li a:before, .fusion-footer-widget-area .widget .recentcomments:before, .fusion-footer-widget-area .widget_recent_entries li a:before, .fusion-footer-widget-area .widget_archive li a:before, .fusion-footer-widget-area .widget_pages li a:before, .fusion-footer-widget-area .widget_links li a:before{
   content:"";
   display: none;
 }
.fusion-widget-area .widget_nav_menu li{
  padding: 4px 0;
  border: none;
  a{
    text-transform: uppercase;
    color: #ababab;
  }
}
.fusion-footer-widget-area{
  padding-top: 0;
  padding-bottom: 0;
}
.fusion-footer-copyright-area{
  padding: 10px 0;
}
.fusion-footer .fusion-columns .fusion-column{
  border-right: 2px solid #eaeaea;
  height: 260px;
  padding: 25px;
}
.fusion-footer .fusion-columns .fusion-column.fusion-column-last{
  border-right: none;
}
.fusion-copyright-notice{
  color: #343434;
}

.grid{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}

.footer-contacts{
  .wrapper{
    width: $page-width;
    margin: 0 auto;
    padding: 50px 0;
  }
  .subs-nav{
    background: $color-green;
    color: white;
    & > .wrapper > .grid{
      align-items: center;

      .social{
        padding-right: 20px;
        border-right: 1px solid white;
        flex-basis: 180px;

        .fusion-social-networks .fusion-social-network-icon{
          margin: 5px 15px 5px 15px;
          font-size: 22px;
        }
      }
      .subs{
        flex: 1;
        padding-left: 20px;
        & > .grid{
          align-items: center;
          justify-content: flex-end;

          & > div {
            padding: 0 15px;
          }

          .text {
            font-size: 2em;
          }

          .inp {
            flex-basis: 40%;
            input{
              height: 35px;
              line-height: 35px;
              padding: 0 12px;
              width: 100%;
              color: $color-green;
              font-weight: bold;
              font-size: 1.1em;
            }
          }

          .button {
            button {
              border: 2px solid white;
              background: none;
              padding: 0 12px;
              color: white;
              font-weight: bold;
              text-transform: uppercase;
              cursor: pointer;
              line-height: 35px;
              height: 35px;

              &:hover{
                background: white;
                color: black;
              }
            }
          }
        }
      }
    }
  }
  .cont{
    background: #f4f4f4;
    color: #343434;
    font-size: 1.2em;
    & > .wrapper > .grid{
      justify-content: space-between;
      align-items: center;
    }
    .phone, .email {
      line-height: 1;
      & > .grid{
        & > div {
          padding: 10px;
        }

        .text {
          text-transform: uppercase;
          font-size: 0.9em;
          line-height: 1;
          text-align: center;
        }

        .ico {
          i {
            font-size: 24px;
            color: $color-green;
            margin: 0;
            padding: 0;
          }
        }

        .val{
          font-size: 1.3em;
        }
      }
    }
  }
}
